PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://mohankrish1603_db_user:<db_password>@cluster0.tjv0kxv.mongodb.net/pangugal?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
